<img src="https://www.themoviedb.org/t/p/original/oLvClwgUg5iLbhbhKWeUWUE2FKH.jpg">
<blockquote><b>Comedy, Romantic</b> | released in <b>1999</b></blockquote>
Scene di mulai dengan 2 mobil yang lagi stop, sebelah kanan <b>american muscle</b> terlihat rongsok dengan bumper asli. Dan terlihat di sebelah kiri, mobil trendy yang penuh dengan anak hits.
dengan pilihan musik yang sangat beda dengan anak seumuran-nya, <b>Kat</b> (dibaca ket) terlihat dengan ekspresi "masa bodo" nya. Di sisi lain, ada <b>Cameron </b>dan <b>Adit</b> baru saja berteman. Di saat itu Cameron pertama kali melihat <b>Bianca</b> dan langsung bertanya tanya.
<pre>Quotes: </pre>
<hr><h3>Adegan Kat tabrak mobil Joey</h3>
<pre>Kat: (abis nubruk mobil Joey) "Whoops!" (scene pindah ke rumah Kat)<br>Wil: "Whoops?! My insurance does not cover PMS!"<br>Kat: "Well then tell them I had a seizure."</pre>
..setelah kesal abis ketemu Verona, Joey datang dengan gaya Jamet dan menghambat jalur untuk mobil Kat keluar.
<blockquote>Apa apaan! inikah "hari Bajingan."</blockquote><br>
begitu ekspresi Kat dengan datangnya Joey.
Dengan sopan, Kat izin kepada Joey "apakah kau keberatan?"
Joey menjawab, "oh ga sama sekali"
<hr><h3>Setelah Kat nge-dance di pesta yg ada Nigel-with-the-brie nya.</h3>
<pre>Kat: "I just need to lie down somewhere"<br>Pat: "Uh, uh. You lie down and you'll go to sleep".<br>Kat: "Sleep is good"<br>Pat: "Yeah. Not if you have a concussion."</pre>
...kesal dengan Bianca yang tak mau mendengarkan, Kat mulai melampiaskan. Melampiaskan dengan cara "Tenggak" Tequila secara intens,.. Dan Kat berakhir Dance di atas meja, di depan semua anak anak. Patrick yang dari tadi memperhatikan-nya tentu saja harus membopong Kat yang sedang "tidak melihat dengan jelas" itu.
<hr><h3>di atas perahu kayuh, setelah insiden susu-kilat</h3>
<pre>Pat: So what's your excuse?<br>Kat: For?<br>Pat: Acting the way we do.<br>Kat: I don't like to do what people expect. Why should I live up to other people's expectations instead of my own?</pre>